.container{
    height: auto;
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
    color: #ffff;
}
input{
    padding: 8px 20px;
    margin-right: 10px;
    font-size: 20px;
}
ul{
    font-size: 30px;
}
h2{
    display: inline-block;
    margin-top: 40px;
    border-bottom: 2px solid gray;
    padding-bottom: 5px;
}
.input-div{
    width: 100%;
    height: auto;
    background-color: aquamarine;
}