body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://i.pinimg.com/736x/b9/e8/4e/b9e84e8a933a4165d889f3c20ec785b7.jpg);
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
